<nb-card>
    <nb-card-header>
        <div class="text-center">
            <span i18n>
                DASHBOARD |
            </span>
            <span class="font-weight-light" i18n>
                Página principal
            </span>
        </div>
        <div>
        </div>

    </nb-card-header>
        
    <nb-card-body>
        <nb-layout>

        <nb-layout-column>
          <nb-card status="info">
            <nb-card-header>SABIAS QUE?</nb-card-header>
            <nb-card-body>
              <li>
                Aquellos que se ejercitan regularmente, duermen mucho mejor que aquellos que nunca lo hacen y padecen menos insomnio.
              </li>
              <li>
                Tener un six pack no demuestra fortaleza, ni fuerza. Tan sólo un bajo nivel de grasa corporal.
              </li>
              <li>
                i no te ejercitas hoy,  puedes perder hasta 80% de tu fuerza muscular para cuando tengas 65 años de edad.
              </li>
              <li>
                El ejercicio te ayuda a reducir tu presión sanguínea, niveles de colesterol en tu sangre y el riesgo de sufrir enfermedades cardiovasculares.
              </li>
              <li>
                Las personas que realizan diferentes rutinas de ejercicio y varían sus actividades tienen menor riesgo de lesionarse y ejercitan sus músculos de manera más eficiente. Al hacer los mismos ejercicios cada día, el cuerpo se acostumbra al ejercicio y necesita menos esfuerzo para realizarlo.
              </li>

            </nb-card-body>
          </nb-card>

        </nb-layout-column>
        <nb-layout-column>
        <nb-card status="success">
            <nb-card-header>SABIAS QUE?</nb-card-header>
            <nb-card-body>
             <LI>
                El Índice de Masa Corporal (IMC) es una formulación matemática que estudia la relación entre la masa y la talla de una persona para determinar la cantidad de grasa y saber si tenemos el peso ideal, si debemos bajar o si debemos subir de peso.
              </LI>
              <li>
                Si nuestro IMC está entre 18,5 y 24,9, estamos en lo que se considera satisfactorio y adecuado para nuestra estatura.
              </li>
              <LI>
                Si el IMC es igual o superiro a 25, se considera que tenemos unos kilos de más.
              </LI> 
              <li>
                Si el IMC es inferior a 18,5, se considera una proporción baja, es decir, se trataría de personas muy delgadas
              </li>
              <li>
                Mientras que si el IMC está por encima de 30, hablaríamos ya de un problema importante de salud, la obesidad.
              </li>
            
            </nb-card-body>
           <!--  <nb-card-footer>By Tuendocrinologo</nb-card-footer> -->
          </nb-card>
        </nb-layout-column>

        <nb-layout-column>
          <nb-card status="danger">
            <nb-card-header>SABIAS QUE?</nb-card-header>
            <nb-card-body>
              <li>
                Los grifos mal cerrados pueden llegar a desperdiciar más de 75 litros de agua por día.
              </li>
              <li>
                Más de dos tercios del agua que usamos corresponden al baño.
              </li>
              <li>
                190 litros es el consumo promedio de agua en las personas.
              </li>
              <li>
                Tan solo el 3% del agua que existe en planeta es dulce, ósea, apta para ser procesada y consumida por el ser humano, mientras que el 70% es totalmente salada y por ende no apta para ser consumida.
              </li>
              <li>
                El consumo de agua en Norteamérica es cinco veces mayor al de Europa.
              </li>
              <li>
                La razón por la que el agua de mar no puede ser consumida es por la deshidratación que produce, haciendo que el cuerpo elimine más agua de la que necesita en un esfuerzo por deshacerse de las sales.
              </li>
            </nb-card-body>
            <!--<nb-card-footer>By Wikipedia</nb-card-footer>-->
          </nb-card>
        </nb-layout-column>
        </nb-layout>


        
        <!-- <div *ngIf="apiLoaded | async">
            <google-map [center]="position" [zoom]="8" width="100%" height="63%">
                <map-marker [position]="position"></map-marker>
            </google-map>
        </div> -->

        <!-- <div *ngIf="apiLoaded | async"> -->
            <!-- <google-map></google-map> -->
        <!-- </div> -->
    </nb-card-body>
    <nb-card-footer class="text-right open-button-end">

    </nb-card-footer>
</nb-card>