<nb-card>
    <nb-card-header>
        <div class="text-center">
            <span i18n>
                DASHBOARD |
            </span>
            <span class="font-weight-light" i18n>
                Página principal
            </span>
        </div>
        <div>
        </div>

    </nb-card-header>
        
    <nb-card-body>
        <nb-layout>

      
        <nb-layout-column>
        <nb-card status="success">
            <nb-card-header>SABIAS QUE?</nb-card-header>
            <nb-card-body>
              <li>
                El índice de masa corporal (IMC) es una relaciòn   
                que se calcula con base en el peso y la estatura 
                de la persona. El IMC es uno de los  indicadores del 
                estado nutricional  el cual es bastante confiable
                 para la mayoría de las personas. El IMC, si bien 
                 no mide la grasa corporal directamente, estudios 
                 poblacionales  han demostrado que tiene una 
                 correlación con mediciones directas de la grasa 
                 corporal, tales como el pesaje bajo el agua 
                 y la absorciometría dual de rayos X (DXA).  
                 Es un método económico y fácil de realizar.
              </li>

              
            </nb-card-body>
            <nb-card-footer>http://www.tuendocrinologo.com/</nb-card-footer>
          </nb-card>
        </nb-layout-column>

        <nb-layout-column>
          <nb-card status="danger">
            <nb-card-header>SABIAS QUE?</nb-card-header>
            <nb-card-body>
              <li>
                Los grifos mal cerrados pueden llegar a desperdiciar más de 75 litros de agua por día.
              </li>
              <li>
                Más de dos tercios del agua que usamos corresponden al baño.
              </li>
              <li>
                190 litros es el consumo promedio de agua en las personas.
              </li>
              <li>
                Tan solo el 3% del agua que existe en planeta es dulce, ósea, apta para ser procesada y consumida por el ser humano, mientras que el 70% es totalmente salada y por ende no apta para ser consumida.
              </li>
              <li>
                El consumo de agua en Norteamérica es cinco veces mayor al de Europa.
              </li>
            </nb-card-body>
            <nb-card-footer>By Wikipedia</nb-card-footer>
          </nb-card>
        </nb-layout-column>
        </nb-layout>


        
        <!-- <div *ngIf="apiLoaded | async">
            <google-map [center]="position" [zoom]="8" width="100%" height="63%">
                <map-marker [position]="position"></map-marker>
            </google-map>
        </div> -->

        <!-- <div *ngIf="apiLoaded | async"> -->
            <!-- <google-map></google-map> -->
        <!-- </div> -->
    </nb-card-body>
    <nb-card-footer class="text-right open-button-end">

    </nb-card-footer>
</nb-card>